<div class="w-full bg-white">
  <section class="flex justify-between w-[95%] mx-auto p-2 items-center">
    <img src="assets/icons/logo.svg" alt="" />
    <section class="flex justify-between gap-x-3">
      <div
        class="text-center bg-[#0771DE] hover:bg-blue-800 rounded-lg text-white w-16"
      >
        <button (click)="changeLang('en')" class="p-3">Eng</button>
      </div>
      <div
        class="text-center bg-[#0771DE] hover:bg-blue-800 rounded-lg text-white w-16"
      >
        <button (click)="changeLang('ar')" class="p-3">AR</button>
      </div>
    </section>
  </section>
</div>
